<%- include('./partials/head'); %>

<%- include('./partials/headerCandidato'); %>
  
<div class="center-A">
  <div class="wrapper">
    <div class="left">
        <h3>Bem-vindo</h3>
        <p><%= candidatoLogado.nome %></p>
        <img src="https://portal1.iff.edu.br/desenvolvimento-institucional/imagens/avatar.jpg/@@images/image.jpeg" alt="user" width="100">
    </div>
    <div class="right">
        <div class="info">
            <h3>Informações</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p><%= candidatoLogado.email %></p>
                    <h4>Genero</h4>
                    <p><%= candidatoLogado.genero %></p>
                 </div>
                 <div class="data">
                   <h4>Endereço</h4>
                   <p><%= candidatoLogado.endereco %></p>
                   <h4>Cidade</h4>
                   <p><%= candidatoLogado.cidade %></p>
                   <h4>Estado</h4>
                   <p><%= candidatoLogado.estado %></p>  
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Conhecimento</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Linguagem</h4>
                    <p><%= candidatoLogado.list %></p>
                 </div>
                 <div class="data">
                   <h4>Segmento</h4>
                   <p><%= candidatoLogado.segmento %></p>
                 </div>  
            </div>
        </div>
        <div class="projects">
          <h3>Sobre</h3>
          <div class="projects_data">
                  
          </div>  
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footer'); %>