<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<main>
    <div class="centerPainel">
        <div class="tituloVagas">
            <h1>Total de vagas encontradas</h1>
        </div>
            <ul class="painelVagas">
                <% vagas.forEach(vaga => { %>
                    <li class="listaVagas">
                        <h2><%= vaga.funcao %></h2>
                        <p><%= vaga.Empresa.nome %></p>
                        <p><%= vaga.cidade %></p>
                        <p>Salário: R$<%= vaga.salario %></p>
                        <a href="mailto:<%= vaga.contato %>">Envie currículo para: <%= vaga.contato %></p>
                    </li>
                <% }) %>
            </ul>
    </div>
</main>
    <!--center-->
<%- include('./partials/footer'); %>